@use "variables" as v;
@use "mixins";

.gallery{
    
    &__image-container{
        background-image: url(../images/image-product-1.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position-y: -35px;
        background-repeat: no-repeat;
        &:hover{
            cursor: pointer;
        }

    }

    &__previus{
        @include mixins.image-btn(180px, 15px, false)
    }
    &__next{
        @include mixins.image-btn(180px, 320px, false)
    }
    &__thumbnails{
        
        display: none;
        @media (min-width: 1115px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__thumnail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid v.$Orange;
        }
    }
    @media (min-width: 1115px){
        width: 446px;
        &__image-container{
            border-radius: 10px;
            height: 446px;
            margin-bottom: 32px;
        }
    }
}